#exampleFormControlTextarea1{
    width: 100%;
    height: 450px;
    margin-bottom: 25px;
}

#exampleFormControlInput1{
    margin-bottom: 10px;
}

#navbar_custom{
    display: inline;
    position : relative;
}

#container-fluid_custom{
    background-color: #f9f9f9;
    padding: 10px 20px 10px 20px;
}

#title,#content,#fileupload{
    font-size: 1.5em;
}

.posting_background{
    padding: 15px;
}

#fileupload{
    border: 3px #aeaeae solid;
    border-radius: 2%;
    padding : 10px;
}